header {
  background-color: black;
  padding: 90px;
  margin-bottom: 30px;
  opacity: 70%;
  height: 100%;
}

#overlay {
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  opacity: 70%;
}

#map {
  height: 100%;
}

.mapcontain {
  height: 500px;
  width: 500px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
}
